.ranking__table{   
    width:80%;    
    display: flex;
    flex-direction: column; 
    justify-content: center;      
     
   &__head,&__body{        
        display: flex;
        justify-content: space-between;
        padding: .2vw;   
        font-weight: bold;   
       &__item{
        text-align: center;
        flex-basis:24.8%;        
        padding: 1vw;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;          
        &.head{
            box-shadow: 0px 0px 21px 2px #211;
            background-color: #211;
            color: #fff;   
        }
        &.body{
            color: #211;
            background-color: #fff;
            border:solid 1px #211;
                   
        }
       }      
   }
   &__body{
    transition: transform .6s;
    &:hover{
        transform: scale(1.1);
        
    } 
} 
   
}