.footer{
    display: flex;
    flex-direction: column;  
    background-color: #211;
    height: 40vh;
    &__up{       
        height: 90%;
    }
    &__down{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.1vw dashed #bdbdbd;
        color: #bdbdbd;
        height: 10%;
       padding: 1vw;
        
    }
}