.footer{
    display: flex;
    flex-direction: column;      
    height: 40vh;
    clip-path: polygon(0% 0%, 50% 11%, 100% 0, 100% 100%, 0% 100%);
    background-image: url('../../img/background2.svg');
    background-attachment: fixed;
    background-size: cover;
    &__up{       
        height: 90%;
    }
    &__down{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.1vw dashed #bdbdbd;
        color: #bdbdbd;
        height: 10%;
       padding: 1vw;
        
    }
}