@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

img{
    width: 2vw;
    height: 2vw;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #edaf13;
    background-image: url('./img/background.svg');
    background-attachment: fixed;
    background-size: cover;
    font-size: 1vw;
    font-family: 'Varela Round', sans-serif;
    
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    padding: 10vw;    
    &__title{
        margin:5vw 0;
        color:#ffff;
        font-size: 4em;
        transition: color .5s , background-color .5s;
        padding:1vw;
        border-radius:10px;
        cursor: pointer;
        &:hover{
            color:#edaf13;
            background-color: #fff;
        }
    }
   

}

